<a href="/users">Users</a> | <a href={{logout}}>Logout</a>
<h1>{{title}}</h1>

<table style="width:100%" class="table {{user.handicap}}">
    <tbody>
    {{#each user}}
        <tr>
            <td>{{@key}}</td>
            <td><span class={{handicap}}>{{this}}</span></td>
        </tr>
    {{/each}}
    </tbody>
</table>