<a href="/users">Users</a> | <a href={{logout}}>Logout</a>
<h1>{{title}}</h1>
<p>User Id: <b>{{user.sub}}</b></p>
<p>Name: <b>{{user.name}}</b></p>
<p>Given Name: <b>{{user.given_name}}</b></p>
<p>Family Name: <b>{{user.family_name}}</b></p>
<p>Email: <b>{{user.email}}</b></p>
<p>Username: <b>{{user.preferred_username}}</b></p>
<p>Handicap: <b>{{user.handicap}}</b></p>
